@if (patient) {
  <div class="d-flex align-items-center mb-4">
    <div class="avatar bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-3">
      {{avatarName}}
    </div>
    <h1 class="fw-semibold mb-0">{{ patient.name }}</h1>
  </div>
}
<div class="container-fluid">
  <!-- Recommendations -->
  <div class="row mt-4">
    <h3 class="section-title mb-3">Recommendations</h3>

    @if(latestRecommendations$ | async; as recs) {
      @if (recs.length > 0) {
        <div class="row g-3">
          @for (r of recs; track r.recommendationId) {
            <div class="recommendation-card col-md-12 col-lg-6 col-xxl-4">
              <recommendation-card [recommendation]="r" />
            </div>
          }
        </div>
      } @else {
        @if (currentUser?.role == 'PATIENT') {
          <div class="empty-placeholder card-modern p-4 text-center">
            <div class="fw-medium text-muted">No reports yet</div>
          </div>
        } @else {
          <div
            [routerLink]="['/reports/new']"
            class="add-recommendation-card h-100 d-flex flex-column justify-content-center align-items-center rounded-4 border border-dashed"
            role="button"
            tabindex="0"
            aria-label="Add recommendation">
            <div class="text-center p-4">
              <div class="plus-circle mb-2">+</div>
              <div class="fw-medium text-muted">Create Report</div>
            </div>
          </div>
        }
      }
    }
  </div>

  <div class="row mt-5">
    <h3 class="section-title mb-3">Reports</h3>

    <div class="col-md-9">
      <div class="card-modern p-3 h-100 d-flex flex-column">
        <reports-table [id]="patientId" class="flex-grow-1"/>
        <div class="text-end mt-3">
          <button class="btn-modern" routerLink="/reports">All Reports</button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-modern h-100 d-flex align-items-center justify-content-center">
        @if (averageScore && averageScore > 0) {
          <ngx-gauge
            [value]="averageScore!"
            [min]="0"
            [max]="10"
            [type]="'semi'"
            [thick]="8"
            [foregroundColor]="getMoodMeterParams(averageScore!).color"
            [backgroundColor]="'#6d6d6d'"
            [cap]="'round'"
            [size]="300"
            [label]="getMoodMeterParams(averageScore!).label"
            [append]="''"
            [prepend]="''">
          </ngx-gauge>
        } @else {
          <div class="text-center text-secondary">
            <h3>No mood information is provided for now, check when a new mood entry is stored.</h3>
          </div>
        }
      </div>
    </div>
  </div>
</div>
