<div class="login-container">
  <form [formGroup]="formGroup" (ngSubmit)="submit()" class="login-card">
    <h2 class="title">Sign in</h2>

    <!-- EMBG -->
    <label>
      <span>EMBG</span>
      <input type="text" formControlName="embg" placeholder="e.g. 1212005455321" />
    </label>
    @if (this.formGroup.controls['embg'] && this.formGroup.controls['embg'].invalid) {
      <div class="error">EMBG is required</div>
    }

    <!-- Password -->
    <label>
      <span>Password</span>
      <input type="password" formControlName="password" placeholder="••••••••" />
    </label>
    @if (this.formGroup.controls['password'] && this.formGroup.controls['password'].invalid) {
      <div class="error">Password is required (min 4 chars)</div>
    }

    <!-- Submit -->
    <button [disabled]="loading || formGroup.invalid" type="submit">
      {{ loading ? 'Signing in…' : 'Sign in' }}
    </button>

    @if (serverError) {
      <div class="server-error">{{ serverError }}</div>
    }
  </form>
</div>
