<div class="login-container d-flex justify-content-center align-items-center vh-100 bg-light">
  <form [formGroup]="formGroup" (ngSubmit)="submit()" class="login-card shadow-lg p-4 rounded bg-white">
    <h2 class="title text-center mb-4">Sign in</h2>

    <div class="mb-3">
      <label class="form-label">EMBG</label>
      <input type="text" class="form-control" formControlName="embg" placeholder="e.g. 1212005455321" />
      @if (this.formGroup.controls['embg'] && this.formGroup.controls['embg'].invalid) {
        <div class="error text-danger small mt-1">EMBG is required</div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="••••••••" />
      @if (this.formGroup.controls['password'] && this.formGroup.controls['password'].invalid) {
        <div class="error text-danger small mt-1">Password is required (min 4 chars)</div>
      }
    </div>
    <div class="button-sequence d-flex gap-3">
      <div class="d-grid flex-fill">
        <button [disabled]="loading || formGroup.invalid"
                type="submit"
                class="btn btn-signin">
          {{ loading ? 'Signing in…' : 'Sign in' }}
        </button>
      </div>

      <div class="d-grid flex-fill">
        <button type="button"
                class="btn btn-register"
                (click)="goToRegister()">
          Register
        </button>
      </div>
    </div>


    @if (serverError) {
      <div class="server-error text-danger text-center mt-3">{{ serverError }}</div>
    }
  </form>

</div>
