<div class="container mt-4">
  <h2>Create Athlete Report</h2>

  <form [formGroup]="formGroup" (submit)="onSubmit()" class="row g-3 mt-3">
    <input type="hidden" formControlName="doctorId">
    <div class="col-md-4 position-relative">
      <label class="form-label">Patient EMBG</label>
      <input type="text" class="form-control" formControlName="embg"
             (blur)="hideDropdownAfterDelay()"
      >
      <!--      fixme style-->
      <div class="patient-type-search d-flex justify-content-start gap-3">
        <div>
          <input type="radio"
                 name="patientType"
                 value="new"
                 (change)="patientType = true">
          <label>New patient</label>
        </div>
        <div>
          <input type="radio"
                 name="patientType"
                 value="assigned"
                 (change)="patientType = false"
                 checked>
          <label>Assigned patient</label>
        </div>
      </div>
      @if (showEmbgDropdown && embgResults.length > 0) {
        <ul class="list-group position-absolute w-100"
            style="z-index: 1000; max-height: 200px; overflow-y: auto;">
          @for (patient of embgResults; track patient.patientId) {
            <li class="list-group-item list-group-item-action"
                (mousedown)="selectEmbg(patient.embg)">
              {{ patient.embg }} - {{ patient.name }}
            </li>
          }
        </ul>
      }
    </div>

    <div class="col-md-4">
      <label class="form-label">Status</label>
      <select class="form-select" formControlName="status">
        <option value="GOOD">GOOD</option>
        <option value="IMPROVED">IMPROVED</option>
        <option value="FOLLOWUP">FOLLOWUP</option>
      </select>
    </div>

    @for (field of fields; track $index) {
      <div class="col-md-4">
        <label class="form-label">{{ field.label }}</label>
        <input [type]="field.type"
               class="form-control"
               [formControlName]="field.name"
               [step]="field.step">
        <div class="text-danger" *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">
          <small *ngIf="formGroup.get(field.name)?.errors?.['required']">{{ field.label }} is required.</small>
          <small *ngIf="formGroup.get(field.name)?.errors?.['min']">Minimum {{ field.min }}.</small>
          <small *ngIf="formGroup.get(field.name)?.errors?.['max']">Maximum {{ field.max }}.</small>
          <small *ngIf="formGroup.get(field.name)?.errors?.['pattern']">Invalid format.</small>
        </div>
      </div>
    }

    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Create Report</button>
    </div>
  </form>
</div>
